// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// styles of welcome page
@import 'starter-page';

@import 'alpha';

@import 'profile';

@import 'media';

@import 'sidebar-user';


.mt-5 {
    margin-top: 5px;
}

.center-block {
    margin: 0 auto;
    padding-top: 25px;
}

.center-block .follow {
    margin: 10px 20px;
}

.left-sidebar {
    float: left;
}

#main {
    margin: 0 35px;
}

.chits-column-parent {
    margin: 20px;
}

.results {
    width: 100%;
    min-height: 55px;
}

#search-results {
    margin: 0 auto;
}

#search-results i {
    margin-left: 300px;
}

.results-item {
    margin: 5px;
}

.img-circle {
    border-radius: 50%;
}
