.pointer {
    cursor: pointer;
}



.alpha-container {
    .alpha-block {
        // background: white;
        height: auto;
        text-align: center;

        .welcome-div {
            margin: 20px auto 0 auto;
            padding: 2px;
            background: rgba(163, 7, 219, 0.9);
            width: 60%;
            border-radius: 2px;

            .welcome-text {
                color: white;
                // color: red;
                font-weight: bold;

                font-size: 1em;
                line-height: 80px;

            }

        }

        .brand-name {
            color: black;
            font-weight: bold;
            font-size: 1em;
            border-bottom: 2px solid #FF0000;
            padding: 5px 20px;
        }



        .actions {
            height: auto;
            margin-top: 40px;
            padding: 5px;
            // background: #FF0000;
            text-align: center;

            .alpha-key {
                // background: #FF0000;
                background: rgba(163, 7, 219, 0.9);
                width: 205px;
                height: 200px;
                margin: 5px auto;
                // border:2px solid #FF0000;
                border: 2px solid #A307DB;

                border-radius: 50%;
                line-height:200px !important;
                word-wrap: break-word;
                font-size: 30px;
                font-weight:bold;
                color: white;
            }




            .register {
                // background: #FF0000;
                background: rgba(163, 7, 219, 0.9);

                width: 205px;
                height: 200px;
                margin: 5px auto;
                // border:2px solid #FF0000;
                border: 2px solid #A307DB;

                border-radius: 50%;
                line-height: 200px !important;
                word-wrap: break-word;
                font-size: 30px;
                font-weight:bold;
                color: white;
            }
        }

    }
}
