

@media screen and (min-width: 200px) and (max-width: 399px) {
    body {
        overflow-x: hidden;
    }
    .first-navbar-ul {
        margin-top: 50px;
        text-align: center;
    }
    .navbar-search {
        margin: 5px auto;
    }
    .margin-top100 {
        margin-top: 300px;
    }

    .chits-add-column {
        margin-bottom: 10px;
    }
    .chitsgroup-select-column {
        min-width: 90%;
    }
    .chits-address-column {
        min-width: 200px;
    }

    .groupselect-column {
        min-width: 200px;
    }

    .search-item {
         min-width: 150px;
         margin-left: 5px;
         margin-right: 5px;
    }


    .chits-column-parent {
        margin-top: 50px;
        margin-left: 20px;
        // width: 90%;
        .chits-player {
            // width: 100%;
            // height: 200px;
        }

        .playerpreview {
            img {
                // height: 200px;
            }
        }
    }


}


@media screen and (min-width: 400px) and (max-width: 767px) {

    .first-navbar-ul {
        margin-top: 50px;
        text-align: center;
    }

    .navbar-search {
        margin: 5px auto;
    }

    .margin-top100 {
        margin-top: 300px;
    }

    .chits-column-parent {
        // margin-left: 5px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .chits-column-parent:nth-child(2n+1) {
    	margin-left: 20px;
    }


}
