

@media screen and (min-width: 200px) and (max-width: 319px) {
    body {
        overflow-x: hidden;
    }
    .first-navbar-ul {
        margin-top: 100px;
        text-align: center;
    }
    .navbar-search {
        margin: 5px auto;
    }
    .margin-top100 {
        margin-top: 300px;
    }

    .chits-add-column {
        margin-bottom: 10px;
    }
    .chitsgroup-select-column {
        min-width: 90%;
    }
    .chits-address-column {
        min-width: 200px;
    }

    .groupselect-column {
        min-width: 200px;
    }

    .search-item {
         min-width: 150px;
         margin-left: 5px;
         margin-right: 5px;
    }


    .chits-column-parent {
        margin-top: 50px;
        margin-left: 20px;
        // width: 90%;
        .chits-player {
            // width: 100%;
            // height: 200px;
        }

        .playerpreview {
            img {
                // height: 200px;
            }
        }
    }


}

@media screen and (min-width: 320px) and (max-width: 420px) {
    body {
        overflow-x: hidden;
    }

    .register, .alpha-key {
        margin-top: 10px !important;
    }

    .first-navbar-ul {
        margin-top: 100px;
        text-align: center;
    }
    .navbar-search {
        margin: 5px auto;
    }
    .margin-top100 {
        margin-top: 300px;
    }

    .chits-add-column {
        margin-bottom: 10px;
    }
    .chitsgroup-select-column {
        min-width: 90%;
    }
    .chits-address-column {
        min-width: 200px;
    }

    .groupselect-column {
        min-width: 200px;
    }

    .search-item {
         min-width: 150px;
         margin-left: 5px;
         margin-right: 5px;
    }


    .chits-column-parent {
        margin-top: 50px;
        margin-left: 80px;
        // width: 90%;
        .chits-player {
            // width: 100%;
            // height: 200px;
        }

        .playerpreview {
            img {
                // height: 200px;
            }
        }
    }

        .results-parent {
            #results {
                width: 320px;
                margin: auto;
            }
        }


}

@media screen and (min-width: 421px) and (max-width: 767px) {

    .first-navbar-ul {
        margin-top: 50px;
        text-align: center;
    }

    .navbar-search {
        margin: 5px auto;
    }

    .margin-top100 {
        margin-top: 300px;
    }

    .chits-column-parent {
        // margin-left: 5px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .chits-column-parent:nth-child(2n+1) {
    	margin-left: 20px;
    }


}

@media screen and (min-width: 800px) and (max-width: 999px) {
    .welcome-div {
        margin-top: 20px !important;
        .welcome-text {
            line-height: 40px !important;
            font-size: 1em !important;
        }
    }

    .actions {
        margin-top: 20px !important;
    }

}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
    .welcome-div {
        margin-top: 20px !important;
        .welcome-text {
            line-height: 40px !important;
            font-size: 1em !important;
        }
    }

    .actions {
        margin-top: 20px !important;
    }
}
