a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}


.button-friend-added {
    background: green !important;
    border-color: green !important;

}

.alert-hashtag {
    margin-top: 10px;
}

.text-center {
    text-align: center;
}

.block {
    display: block;
}

.text-center {
    text-align: center;
}

.margin-sidebar {
    margin-left: 160px;
}


.account-confirm-row {
    text-align: center;
}

.input-confirm-code {
    border: 2px solid #9dd7f2;
}


.search-progress-bar {

    position: fixed;
    top:87px;
    left:0px;
    width: 100%;
    z-index:9999;

    // position: relative;
    // width: 100%;
    // margin: auto;

    .progress {
        // margin-bottom: 5px;
        height: 10px;
    }

    .progress-bar {
        height: 10px;
    }
}


.action-navbar {
    text-align: center;
    position: fixed;
    width: 85%;
    z-index: 10;
    color: white;
    font-weight: bold;
    font-size: 1em;
    .item {
        padding: 5px;
        background: #FF0000;
    }
}

// dev



.chits-events-area {
    margin-top: 2px;
    height: 40px;
    width: 100%;
    position: relative;
    float: left;
    padding: 2px 10px;
    text-overflow: clip;
    overflow: hidden;
    background: #E8E8E8;
}

.chits-description-area {
    margin-top: 2px;
    height: 50px;
    width: 100%;
    position: relative;
    float: left;
    padding: 2px 10px;
    text-overflow: clip;
    overflow: hidden;
    // background: #4BBB17;
    background: #FF0000;
    // background: #303030;
    // border-top: 3px solid #00FF66;
}

.chits-description-area-basic {
    margin-top: 2px;
    height: 50px;
    width: 100%;
    position: relative;
    float: left;
    padding: 2px 10px;
    text-overflow: clip;
    overflow: hidden;
    // background: #0c2172;
    background: #303030;
    // border-top: 3px solid #0066FF;

}

.previewplayimg {
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 30px;
    // color:rgba(255, 0, 0, 0.7);
    color: #FF0000;

}

.playerpreview-text {
    font-weight: bold;
    font-size: 1em;
    color: white;
}

.preview-text {
    font-weight: bold;
    font-size: 1em;
    color: white;
}


.chits-player {
    // float:left;
    // margin: auto;
    height: 150px;
    width: 100%;
    padding: 0px !important;
    // background:yellow;
    cursor:pointer;
}

.chits-events {
    height: 150px;
}

.chits-column-parent{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    height: 250px;
    padding: 2.5px;

}







.chits-column-block {
    height: 150px !important;
    background: #BFBFBF;
    // background: #303030;
}


.chits-column-image{
    height: 150px !important;
}

// dev















.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d3d3d3;
    overflow-x: hidden;
    padding-top: 20px;

    .sidenav-body {
        position: absolute;
        top: 15%;
        left: 0;
    }
    a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;

        &:hover {
            color: #f1f1f1;
        }
    }
}








// .sidebar {
//     height: 100%;
// }
//
//
// .sidebar-parent {
//     background: #d3d3d3;
//     height: 101%;
//     overflow: hidden;
//     position: fixed;
//     left: 0;
//     width: 150px;
//     // border: 2px solid #FF0000;
//     border: 2px solid #F1F1F1;
//     .sidebar-content {
//         position: absolute;
//         width: 100%;
//         top: 80px;
//
//         .sidebar-list{
//             .sidebar-item {
//                 text-align: center;
//                 border: none;
//                 background: #FF0000;
//                 // background: #4267B2;
//                 padding: 10px 5px;
//                 margin: 15px 5px;
//                 border-radius:5px;
//                 color: white;
//                 font-weight: bold;
//                 .sidebar-item-text{
//                     // background: #FF0000;
//                     // padding: 5px;
//                     // border-radius:5px;
//                     // color: white;
//                     // width: 50px;
//                 }
//             }
//         }
//     }
//
//
// }



.navbar-netchits {
    // background: #E8E8E8;
    background: #E8E8E8;
    border: none;
}

.navbar-default .navbar-nav li a {
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    &:hover {
        color: black;
        font-weight: bold;
        font-size: 1.1em;
    }
}

.navbar-default .navbar-brand {
    color: black;
    font-weight: bold;

    border-bottom: 2px solid red;
    margin-left: 5px !important;
    margin-right: 10px !important;
    padding-bottom: 2px !important;
    height: 40px;



    &:hover {
        color: black;
    }
}

.navbar-search {
    min-width: 150px;
    width: 40%;
    margin: 10px;
}




.second-navbar-parent {
    font-family: arial;
    .navbar {
        min-height:30px !important;
    }
    .navbar-nav {
        float:none;
        margin:0 auto;
        display: block;
        text-align: center;

        li {
            a {
                color: white;
                font-size: 1.1em;
                font-weight: bold;
                &:hover {
                    background: none !important;
                }

                &:link {
                    background: none !important;
                }
            }
        }
    }

    .navbar-nav > li {
        display: inline-block;
        float:none;
    }


    .navbar-nav > li > a, .navbar-brand {
        padding-top:5px !important; padding-bottom:0 !important;
        height: 30px !important;
    }

    .second-navbar {
        margin-top:55px;
        background: #FF0000;

    }
}



















.signin-container {
    margin-top: 80px;
}

.signup-container {
    margin-top: 80px;
}

.chits-list {
    text-align: center;
    height: auto;
}

.chits-list div {
    // background: gray;
    // height: 150px;
}





// .chits-column a {
//     display: block;
//     width: 100%;
//     height: 100%;
// }

.margin-top80 {
    margin-top:80px;
}

.margin-top100 {
    margin-top:100px;
}



.search-result-parent {
    text-align: center;
    width: 90%;
    margin: auto;
    .search-user-image {
        width: 40px;
        height: 40px;
    }
    .search-user-hashtag {
        font-weight: bold;
    }

    .button-add-friend {
    }

    .button-is-friends {
        background: green !important;
        border-color: green !important;
    }

}

.search-result-col {

}

.chits-add-row {
    padding: 10px 0;
    height: auto !important;
}


.chits-add-group-row {
    padding: 10px 0;
    height: auto !important;
}

.chits-add-column {
    // margin-left: 5%;
    min-width: 120px;
}

.chitsgroup-select-column {
    min-width: 80px;
}

.chits-address-column {
    min-width: 150px;
}

.chits-child {
    // padding-top:50px;
    display: block;
    width: 100%;
    height: 100%;
    color:white;
}

.button-add-chits {
    font-size: 1.1em;
    font-weight: bold;
    // background: #FF0000 !important;
    // border-color: #FF0000 !important;
}

.button-add-chits-color {
    background: #FF0000 !important;
    border-color: #FF0000 !important;
}

.button-add-chits-search-color {
    background:#3097D1 !important;
    border-color: #3097D1 !important;
}

.btn-loveit {
    background: #FF0000;
    color: white;
    font-weight: bold;
    outline:0;
    &:hover {
        color:white !important;
        background: #FF0000 !important;
        outline:0;

    }
    &:focus {
        color:white !important;
        background: #FF0000 !important;
        outline:0;

    }
    &:active {
        color:white !important;
        background: #FF0000 !important;
        outline:0;
    }
}


.button-delete {
    margin-top:10px;
}

 .button-delete-group {
    background: black !important;
    border-color:black;
    font-size: 0.8em;
    margin-left: 5px;
}

.fa-love {
    color:white !important;
    padding: 5px;
}

.fa-delete-group {
    color: #cecece !important;
    font-size: 15px !important;
    padding: 5px;
    cursor: pointer;
    &:hover {
        color: red !important;
    }
}

.fa-delete-chits {
    color: #334957 !important;
    font-size: 20px !important;
    padding: 10px;
    cursor: pointer;
    &:hover {
        color: red !important;
    }
}

.fa-copy-chits {
    color: #50e573 !important;
    font-size: 20px !important;
    margin: 10px;
    cursor: pointer;
    &:hover {
        color: #50e573 !important;
    }
}

.fa-copy-group {
    color: #50e573 !important;
    font-size: 30px !important;
    margin: 10px;
    cursor: pointer;
    &:hover {
        color: #50e573 !important;
    }
}


 // OPG

 .opg_title {
     display: block;
     margin:auto;
     padding-top:15px;
     padding-left: 2px;
     padding-right: 2px;
     font-size: 0.7em;
     width: 100%;
     height: 40px !important;
     color:white;


 }

.opg_sitename {
    display: block;
    margin:auto;
    padding-top:10px;
    width: 80%;
    height: 40px !important;
    color:white;
}

.opg-image {
    display: block;
    float:left;
    width: 20%;
    height: 40%;
}

.row-group {
    display: block;
    height: 60px !important;
    margin: 50px auto;
}

.row-chits-list {
    display: block;
    height: auto !important;
}

.group-column {
    display: block;
    height: 40px !important;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel-group {
    width: 40% !important;
    margin: auto;
}


.followers-parent {
    background: #E8E8E8;
    display: block;
    margin: 10px auto;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    padding: 5px;
}


.row-friends {
    padding-left: 0px;
    padding-right: 0px;
    .friends-parent {
        background: #E8E8E8;
        display: block;
        margin: 10px auto;
        width: 100%;
        text-align: center;
        color: black;
        font-size: 1.1em;
        font-weight: bold;
        padding: 5px;
    }
    .friends-list {
        padding: 10px;
        .friend-item {
            display: inline-block;
            text-align: center;
            width: 100px;

            .user-hashtag {
                font-weight: bold;
                color: #404448;
            }
        }
    }
}

.row-user-profile {
    margin-top: 80px;
    .col-user-profile-image {
        .div-user-image {
            margin: auto;
            width: 100px;
            height: 100px;
            .user-image {
                width: 100px;
                height: 100px;
            }
        }
    }
    .col-user-profile-actions {
        margin-top: 5px;
        .div-upload-image {
            margin: auto;
            text-align: center;
        }

        .div-user-info {
            text-align: center;
            margin: 5px auto;
            width: 80%;

            .button-update-profile {
                display: block;
                margin: auto;
                text-align: center;
            }
        }
    }

}

.chits-search-result {
    background: #F0F0F0;
    min-height: 180px;
    height:auto;

    .results-parent {
        // margin-left: 7%;
    }

}

.search-item {
    margin-top: 5px;
    padding: 0px;
    // margin-left: 10px;
    // margin-right: 10px;
}


.search-item-title {
    white-space: nowrap;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;

  }

  .search-item-img {
      width: 150px;
      height: 100px;
  }


.row-people-list {
    padding-left: 0px;
    padding-right: 0px;

    .people-parent {
        background: #E8E8E8;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
        color: black;
        font-size: 1.1em;
        font-weight: bold;
        padding: 5px;
    }

    .people-list {
        padding: 10px;
        width: 100%;
        margin: auto;
        .people-item {
            display: inline-block;
            text-align: center;
            width: 100px;
        }
    }
}

.follow-count {
    padding: 5px;
    font-size: 1em;
}
