.chits-parent {
    text-align: center;
    height: auto;
}

.chits-parent div {
    // background: gray;
    height: 150px;
}

.chits-column {
    margin-left: 6%;
}

.chits-add-row {
    margin-bottom: 50px;
}

.chits-add-column {
    margin-left: 5%;
}

.chits-child {
}
