#myVideo {
    position: fixed;
    z-index: -999;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */

.fa-start-heart {
    font-size:25px;
    color:red;
}

.fa-start-coffee {
    font-size:25px;
    color:#c68400;
}

.alert-password-incorrect {
    margin:5px;
}


%hidden-form-container {
    margin-top: 0px !important;
    margin-bottom: 10px;
    padding: 10px;
    width: 40%;
    color:black;
}

.btn-default {
    // margin:3px;
}

.signin-container {
    @extend %hidden-form-container;
    display: none;
}

.signup-container {
    @extend %hidden-form-container;
    display: none;
}

.forgotpass-container {
    @extend %hidden-form-container;
}

.pointer {
    cursor: pointer;
}

#button-forgotpass {
    margin-top: 5px;
}

.author {
    color:black;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 3%;
    // color: black;
}
