%hidden-form-container {
    margin-top: 0px !important;
    margin-bottom: 10px;
    padding: 10px;
    width: 40%;
}


.signin-container {
    @extend %hidden-form-container;
    display: none;
}

.signup-container {
    @extend %hidden-form-container;
    display: none;
}

.forgotpass-container {
    @extend %hidden-form-container;
}

.pointer {
    cursor: pointer;
}


.author {

    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 8%;
    // color: black;
}
